@model HeroDetailsViewModel

<section class="text-white w-75 m-auto text-center">
    <h1>@Model.Hero.Name</h1>
    <img src="@Model.Hero.BigImageUrl" alt="@Model.Hero.Name" />
</section>

<section class="w-90 m-auto">
    <article class="float-left w-65">
        <h1 class="text-white">Matchups from pro matches</h1>
        <table class="table table-dark">
            <thead>
                <tr>
                    <th>Hero</th>
                    <th>Games played</th>
                    <th>Win Rate</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var hero in Model.Matchups)
                {
                    <tr>
                        <td>
                            <a class="text-white" href="/heroes/@hero.HeroDto.Id">
                                <img src=@hero.HeroDto.ImageUrl alt=@hero.HeroDto.Name />
                                <span>@hero.HeroDto.Name</span>
                            </a>
                        </td>
                        <td>@hero.GamesPlayed</td>
                        <td>@hero.WinRate</td>
                    </tr>
                }
            </tbody>
        </table>
    </article>

    <article class="float-right w-30">
        <h1 class="text-white">Top players</h1>
        <table class="table table-dark">
            <thead>
                <tr>
                    <th>Player</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var player in Model.Rankings)
                {
                    <tr>
                        <td>
                            <a href="/players/details/@player.AccountId">
                                <img src="@player.Avatar" alt="@player.Name" />
                                <span>@player.Name</span>
                                <span>@player.RankTier</span>
                            </a>
                        </td>
                        <td>@player.Score</td>
                    </tr>

                }
            </tbody>
        </table>

        <h1 class="text-white">Top pro players</h1>
        <table class="table table-dark">
            <thead>
                <tr>
                    <th>Player</th>
                    <th>Games Played</th>
                    <th>Win Rate</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var player in Model.Players)
                {
                    <tr>
                        <td>
                            <a href="/player/details/@player.PlayerProfile.AccountId">
                                <img src="@player.PlayerProfile.AvatarUrl" alt="@player.PlayerProfile.Name" />
                                <span>@player.PlayerProfile.Name</span>
                            </a>
                        </td>
                        <td>@player.GamesPlayed</td>
                        <td>@player.WinRate</td>
                    </tr>

                }
            </tbody>
        </table>
    </article>
</section>