@model MatchDetailsViewModel

<section class="match-details text-white">
    <article class="text-center mt-5 mb-5">
        <div class="mb-5">
            @if (Model.RadiantWin)
            {
                <h1 class="text-success font-weight-bold">Radiant Victory</h1>
            }
            else
            {
                <h1 class="text-danger font-weight-bold">Dire Victory</h1>
            }
        </div>
        <div class="d-inline-block">
            <h1 class="text-success font-weight-bold">@Model.RadiantScore</h1>
        </div>
        <div class="d-inline-block align-middle ml-3 mr-3">
            <h4>@Model.Duration</h4>
            <h3>@Model.GameMode</h3>
        </div>
        <div class="d-inline-block">
            <h1 class="text-danger font-weight-bold">@Model.DireScore</h1>
        </div>
    </article>
    <h1 class="text-center">Radiant:</h1>
    <table class="table table-dark">
        <thead>
            <tr>
                <th>Player</th>
                <th>Level</th>
                <th class="text-success">Kills</th>
                <th class="text-danger">Deaths</th>
                <th>Assists</th>
                <th>Last hits</th>
                <th>Denies</th>
                <th>Hero damage done</th>
                <th>Gold per min</th>
                <th>Items</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var player in Model.Players.Where(x => x.IsRadiant).ToList())
            {
                <tr>
                    <td>
                        @if (player.PlayerId != null)
                        {
                            <a href="/players/details/@player.PlayerId" class="text-white">
                                <div>
                                    <img src="@player.Hero.ImageUrl" alt="@player.Hero.Name" />
                                    <div class="align-middle d-inline-block">
                                        <h3>@(player.PlayerName ?? "Anonymous")</h3>
                                        <h5 class="font-weight-light">@(player.PlayerRanking ?? "Unknown")</h5>
                                    </div>
                                </div>
                            </a>
                        }
                        else
                        {
                            <div class="match-player text-white">
                                <img src="@player.Hero.ImageUrl" alt="@player.Hero.Name" />
                                <div class="align-middle d-inline-block">
                                    <h3>@(player.PlayerName ?? "Anonymous")</h3>
                                    <h5 class="font-weight-light">@(player.PlayerRanking ?? "Unknown")</h5>
                                </div>
                            </div>
                        }
                    </td>
                    <td>@player.Level</td>
                    <td class="text-success">@player.Kills</td>
                    <td class="text-danger">@player.Deaths</td>
                    <td>@player.Assists</td>
                    <td>@player.LastHits</td>
                    <td>@player.Denies</td>
                    <td>@player.HeroDamageDone</td>
                    <td>@player.GoldPerMin</td>
                    <td class="dota-items">
                        @foreach (var item in player.Items)
                        {
                            <div class="d-inline-block">
                                @await Html.PartialAsync("GuidePartial", item);
                            </div>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @if (this.Model.PicksAndBans.Any())
    {
        <div class="text-center">
            @foreach (var pickOrBan in this.Model.PicksAndBans.Where(x => x.IsRadiant).OrderBy(x => x.Order).ToList())
            {
                <div class="d-inline-block">
                    <img src="@pickOrBan.Hero.ImageUrl" alt="@pickOrBan.Hero.Name" />
                    <h5 class="text-uppercase font-weight-light">@((pickOrBan.IsPicked ? "pick" : "ban") + ((pickOrBan.Order) + 1))</h5>
                </div>
            }
        </div>
    }


    <h1 class="text-center mt-5">Dire:</h1>
    <table class="table table-dark mb-5">
        <thead>
            <tr>
                <th>Player</th>
                <th>Level</th>
                <th class="text-success">Kills</th>
                <th class="text-danger">Deaths</th>
                <th>Assists</th>
                <th>Last hits</th>
                <th>Denies</th>
                <th>Hero damage done</th>
                <th>Gold per min</th>
                <th>Items</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var player in Model.Players.Where(x => !x.IsRadiant).ToList())
            {
                <tr>
                    <td>
                        @if (player.PlayerId != null)
                        {
                            <a href="/players/details/@player.PlayerId" class="text-white">
                                <div class="match-player">
                                    <img src="@player.Hero.ImageUrl" alt="@player.Hero.Name" />
                                    <div class="align-middle d-inline-block">
                                        <h3>@(player.PlayerName ?? "Anonymous")</h3>
                                        <h5 class="font-weight-light">@(player.PlayerRanking ?? "Unknown")</h5>
                                    </div>
                                </div>
                            </a>
                        }
                        else
                        {
                            <div class="text-white">
                                <img src="@player.Hero.ImageUrl" alt="@player.Hero.Name" />
                                <div class="align-middle d-inline-block">
                                    <h3>@(player.PlayerName ?? "Anonymous")</h3>
                                    <h5 class="font-weight-light">@(player.PlayerRanking ?? "Unknown")</h5>
                                </div>
                            </div>
                        }

                    </td>
                    <td>@player.Level</td>
                    <td class="text-success">@player.Kills</td>
                    <td class="text-danger">@player.Deaths</td>
                    <td>@player.Assists</td>
                    <td>@player.LastHits</td>
                    <td>@player.Denies</td>
                    <td>@player.HeroDamageDone</td>
                    <td>@player.GoldPerMin</td>
                    <td class="dota-items">
                        @foreach (var item in player.Items)
                        {
                            <div class="d-inline-block">
                                @await Html.PartialAsync("GuidePartial", item);
                            </div>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @if (this.Model.PicksAndBans.Any())
    {
        <div class="text-center">
            @foreach (var pickOrBan in this.Model.PicksAndBans.Where(x => !x.IsRadiant).OrderBy(x => x.Order).ToList())
            {
                <div class="d-inline-block">
                    <img src="@pickOrBan.Hero.ImageUrl" alt="@pickOrBan.Hero.Name" />
                    <h5 class="text-uppercase font-weight-light">@((pickOrBan.IsPicked ? "pick" : "ban") + ((pickOrBan.Order) + 1))</h5>
                </div>
            }
        </div>
    }
</section>